<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>My Task APP</h3>
        </div>
    </div>
    <button (click)="loadTasks()" style="float:right">Load Tasks</button>
    <div *ngFor="let profiles of profile['documents']">
        <table style="color:black">
            <tr>
               <td class="col-md-4"> <h4 style="text-align:left">{{profiles.fields.title.stringValue}}</h4></td> 
               <td class="col-md-4"><h4 style="text-align:left">{{profiles.fields.description.stringValue}}</h4></td>
               <td><button (click)="deleteTasks(profiles.name)" style="color:red">Delete Task</button></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Create task</h3>
        <form [formGroup]="Form" (ngSubmit)="createTask($event)">
            <input formControlName="title" type="text" placeholder="Your title">
            <input formControlName="description" type="text" placeholder="Your description">
            <button type="submit">Log in</button>
       </form>
    </div>
</div>
